.App {
  text-align: center;
}

.form {
  margin-top: 10px;
}
.form input {
  padding: 10px 20px;
}
.form button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: #70aa0d;
  border: none;
}
